body {
    background-color: blue;
    color: #000;
    margin: 0;
    overflow: hidden;
}

#info {
    color: #000;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    display: block;
}

#info a, .button {
    color: #f00;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#rightbutton {
    height: 100%;
    width: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#leftbutton {
    height: 100%;
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}
